# MongoDB Atlas or Local Connection String
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<db_name>?retryWrites=true&w=majority

# Port for backend Express API
PORT=5000

# JSON Web Token Secret
JWT_SECRET=your_jwt_secret_key_here
